
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install .
            pip install pytest
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            pytest .